.footer {
  background-color: rgb(13, 71, 161);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .text-center {
  margin: 0;
}

.footer .link {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}


